# Develeper CI test. This will build the workflow using Jlls and building wrappers from SRC
name: Develeper CI test

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build instead'
        required: false
        default: ''
      mark_as_latest:
        description: 'Mark as latest'
        type: boolean
        required: false
        default: false
  push:
    paths:
      - 'src/**'
      - 'scripts/**'
      - 'deps/build.jl'
      - 'Project.toml'
      - 'lib/cunumeric_jl_wrapper/src/**'
      - 'lib/cunumeric_jl_wrapper/include/**'
      - 'lib/CNPreferences/src/**'
      - '.github/workflows/developer.yml'
    tags:
      - 'v*'
    branches:
      - main
  pull_request:
    paths:
      - 'src/**'
      - 'scripts/**'
      - 'deps/build.jl'
      - 'Project.toml'
      - 'lib/cunumeric_jl_wrapper/src/**'
      - 'lib/cunumeric_jl_wrapper/include/**'
      - 'lib/CNPreferences/src/**'
      - '.github/workflows/developer.yml'
jobs:
  docs:
    name : Developer CI test
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
      actions: write
    # runs-on: [self-hosted, linux, x64]
    runs-on: ubuntu-latest
    container:
      image: ubuntu:22.04
    defaults:
      run:
        shell: bash
    env:
        LEGATE_AUTO_CONFIG: 0
        NO_CUDA: ON
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: bash
        run: source /etc/profile

      - name: Install basic utils
        run: |
          apt-get update && apt-get install -y wget curl git build-essential
          curl -fsSL https://deb.nodesource.com/setup_20.x | bash -
          apt-get install -y nodejs

      - name: Setup Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: '1.11'

      - name: Install CMake 3.30.7
        run: |
          mkdir -p $HOME/.local
          cd $WORKSPACE
          wget https://github.com/Kitware/CMake/releases/download/v3.30.7/cmake-3.30.7-linux-x86_64.sh --no-check-certificate
          sh cmake-3.30.7-linux-x86_64.sh --skip-license --prefix=$HOME/.local
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      
      - name: Load Julia packages from cache
        id: julia-cache
        uses: julia-actions/cache@v2
        with:
            cache-name: julia-developer-ci
      - name: Cleanup old cuNumeric and Legate
        run: | 
          julia --color=yes -e 'using Pkg; Pkg.rm("cuNumeric")' || true # ensure clean env
          julia --color=yes -e 'using Pkg; Pkg.rm("Legate")' || true # ensure clean env
          

      - name: Setup cuNumeric.jl and Legate.jl with build from src wrappers
        run: |
          julia --color=yes -e '
              using Pkg;
              Pkg.add(PackageSpec(url = "https://github.com/JuliaLegate/Legate.jl", rev = "main", subdir = "lib/LegatePreferences"))
              using LegatePreferences; LegatePreferences.use_developer_mode();
              Pkg.add(PackageSpec(url = "https://github.com/JuliaLegate/Legate.jl", rev = "main"))
          '

          julia --color=yes -e '
              using Pkg;
              Pkg.develop(PackageSpec(path = "lib/CNPreferences"))
              using CNPreferences; CNPreferences.use_developer_mode();
              Pkg.develop(PackageSpec(path = "."))
          '
          julia --color=yes -e 'using Pkg; Pkg.build("cuNumeric")'

      - name: Perform Test
        run: |
          GPUTESTS=0 julia --color=yes -e 'using Pkg; Pkg.test("cuNumeric")'
